/* src/styles/page.css */

/* Container para centralizar e limitar a largura da página */
.page-container {
    max-width: 800px; /* Aumentei a largura máxima para 800px para melhorar a visualização em telas maiores */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Ajustei a margem superior para 20px para mais espaço */
    color: #b90a0a; /* Mudei a cor do texto para uma cor mais escura */
}

/* Estilos para o formulário de produto */
.product-form {
    margin-bottom: 20px;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para as células da tabela */
td {
    padding: 10px; /* Aumentei o preenchimento para melhorar a aparência */
    border: 10px solid #070707;
}

/* Estilos para os inputs de texto e número */
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px); /* Reduzi um pouco a largura para melhorar a aparência */
    padding: 10px;
    border: 3px solid #f765652d;
    border-radius: 15px;
    margin-bottom: 3px;
}

/* Estilos para os botões */
button {
    padding: 10px 20px ; /* Reduzi o preenchimento horizontal para um botão mais compacto */
    background-color: #b90a0a;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s; /* Adicionei uma transição suave de cor de fundo */
    width: 97%;
}

button:hover {
    background-color: #e65656ef;
}

/* Adicionando um fundo suave atrás da tabela */
.product-form table {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
